.div-table {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.div-table-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tableHeader {
  background-color: rgba(78, 80, 81, 0.263);
}
.div-table-col {
  padding: 10px;
  width: 9%;
  border: 1px solid black;
  word-wrap: break-word;
  box-sizing: border-box;
}

.tableInfo {
  padding: 20px 20px 20px 0px;
  font-size: 16px;
  font-weight: bold;
}

.tableEmpty {
  padding: 20px 20px 20px 0px;
  font-size: 16px;
  font-weight: bold;
  color: Red;
}

.candle {
  width: 700px;
  height: 400px;
  position: relative;
  margin-top: 40px;
  left: 20%;
}
